/* ==========================================================================
   #WRAPPER
   ========================================================================== */

$core-wrapper-max-width: 1200px !default;
$core-wrapper-padding: $core-global-spacing !default;

$core-wrapper-sizes: (
  '-tiny': $core-global-spacing-tiny,
  '-small': $core-global-spacing-small,
  null: $core-global-spacing,
  '-large': $core-global-spacing-large,
  '-huge': $core-global-spacing-huge,
) !default;


.o-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: $core-wrapper-padding;
  padding-left: $core-wrapper-padding;
  max-width: $core-wrapper-max-width;


/* Sizes Classes
   ========================================================================== */

  @if $config-wrapper-size-classes-output {

    @each $size-name, $size-value in $core-wrapper-sizes {

      @if $size-name != null {

        &#{$size-name} {
          padding-right: $size-value;
          padding-left: $size-value;
        }

      }

    }

  }


} // End wrapper