/* ==========================================================================
   #WRAPPER
   ========================================================================== */

$core-wrapper-max-width: 1200px !default;
$core-wrapper-padding: 20px !default;

$core-wrapper-sizes: (
  '-tiny': $core-global-spacing-tiny,
  '-small': $core-global-spacing-small,
  '-large': $core-global-spacing-large,
  '-huge': $core-global-spacing-huge,
) !default;




.o-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: $core-wrapper-padding;
  padding-left: $core-wrapper-padding;
  max-width: $core-wrapper-max-width;




// Sizes Classes
// ========================================================================== //

  @each $size-name, $size-value in $core-wrapper-sizes {

    &#{$size-name} {
      padding-right: $size-value;
      padding-left: $size-value;
    }

  }




// Responsive Classes
// ========================================================================== //

  @each $size-name, $size-value in $core-wrapper-sizes {

    @each $breakpoint-name, $breakpoint-value in $mq-breakpoints {

      @include breakpoint($breakpoint-value) {

        &#{$size-name}\@#{$breakpoint-name} {
          padding-right: $size-value;
          padding-left: $size-value;
        }

      }

    }

  }



} // End wrapper