/* ==========================================================================
   #SPACINGS
   ========================================================================== */

$core-spacing-directions: (
  null: null,
  '-top': '-top',
  '-right': '-right',
  '-bottom': '-bottom',
  '-left': '-left',
  '-horizontal': '-left' '-right',
  '-vertical': '-top' '-bottom',
) !default;

$core-spacing-properties: (
  'padding': 'padding',
  'margin': 'margin',
) !default;

$core-spacing-sizes: (
  null: $core-global-spacing,
  '-tiny': $core-global-spacing-tiny,
  '-small': $core-global-spacing-small,
  '-large': $core-global-spacing-large),
  '-huge': $core-global-spacing-huge),
  '-none': 0
) !default;

@each $property-namespace, $property in $core-spacing-properties {

   @each $direction-namespace, $direction-rules in $core-spacing-directions{

    @each $size-namespace, $size in $core-spacing-sizes {

      .u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {
        @each $direction in $direction-rules {
          #{$property}#{$direction}: $size;
        }

      }

    }

  }

}
