/* ==========================================================================
   #CONFIG
   ========================================================================== */

/**
 * Configuración del proyecto
 */


// OBJECTS

/* Wrapper
   ========================================================================== */

$config-wrapper-size-classes-output: true !default;
$config-wrapper-responsive-classes-output: false !default;


/* Grid
   ========================================================================== */

$config-grid-enabled: false !default;
$config-grid-modifiers-output: false !default;
$config-grid-item-modifiers-output: false !default;


// UTILITIES

/* Spacings
   ========================================================================== */

$config-spacing-sizes-output: true !default;

/**
 * ¡ALERTA! si activas esta opción sube bastante el peso del css. Si la vas a
 * activar mira en:
 *
 * `$core-spacing-responsive-directions`,
 * `$core-spacing-responsive-properties`,
 * `$core-spacing-responsive-sizes`
 *
 * y borra las direcciones, propiedades y tamaños que no vas a usar en el
 * projecto para reducir el peso.
 */

$config-spacing-responsive-classes-output: false !default;


/* Text
   ========================================================================== */

$config-text-classes-output: false !default;


/* Flex
   ========================================================================== */

$config-flex-classes-output: false !default;


/* Visible
   ========================================================================== */

$config-visible-classes-output: false !default;


/* Hidden
   ========================================================================== */

$config-hidden-classes-output: false !default;
