/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * Estructura y algunos resets para los botones. Aquí no tienen que ir estilos
 * visuales, solo estructurales
 *
 * 1. Reset para la etiqueta button
 */

@mixin btn-base($padding: null) {
  display: inline-flex;
  margin: 0;
  border: 0; /* [1] */
  background: none; /* [1] */
  font-size: inherit; /* [1] */
  cursor: pointer; /* [1] */

  justify-content: center;
  align-items: center;
  appearance: none; /* [1] */

  @if $padding {
    padding: $padding;
  }
}
