/* =============================================================================
BUTTONS
============================================================================= */

/**
 * Estructura y algunos resets para los botones. Aquí no tienen que ir estilos
 * visuales, solo estructurales
 */

@mixin btn-base($padding: 10px 20px) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    margin: 0;
    cursor: pointer;
    padding: $padding;
    appearance: none;
    background: none;
    border: 0;
}